*,*::before, *::after{
    box-sizing: border-box;
}
*{
    padding: 0;
    margin: 0;
    border: 0;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}
img{
    display: block;
    max-width: 100%;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
button::-moz-focus-inner{
    padding: 0;border: 0;
}
ul li{
    list-style: none;
}
input,button,textarea{
    font-family: inherit;
}
:root{
    --hyfen: #1F1534;
    --main-color: #458FF6;
    ---button-hover: #2372df;
    --main-color-05: rgb(69, 143, 246, .5);
    --main-text:  #444446;
}




body{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    color: var(--hyfen);
}
/* main-container */
.main-container {
    max-width: 1600px;
    min-width: 300px;
    margin: 0 auto;
    position: relative;
}
/* logo */
.logo {
    display: flex;
    align-items: center;
    justify-content: space-between ;
    width: 155px;
}
.logo__link{
    width: 35px;
    height: 35px;
    margin: 0;
    padding: 5px;
    background: #458FF6;
    border-radius: 50%;
    text-decoration: none;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo__link:hover{
    background-color: var(---button-hover); 
}
.logo__link:active{
    transform: scale(1.1);
}
.logo__logo {
    color: #FFF;
    font-size: 26px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    
}
.logo__text {
    color: #233348;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    padding: 0;
    margin: 0;
}
/* button */
.button {
    min-width: 50px; 
    border-radius: 10px;;
    background: var(--main-color);
    padding: 10px 30px;
    box-shadow: #000000 0 0 8px;
    border: solid 1px #0000008d;
    transition: 0.2s;

    color: #FFF;
    font-size: 18px;
    font-weight: 700;
}
.button:hover{
   background-color: var(---button-hover); 
}
button:active{
    transform: scale(1.1);
}




/* header */
.header {
   display: flex;
   align-items: center;
   justify-content: space-between;
    padding: 30px 100px;
    background-color: #ffffffc4
}
.nav {
    display: flex;
    align-items: center;
    list-style: none;
}
.nav__li{
    margin-right: 40px;
    transition: 0.2s;
}
.nav__li:active{
    transform: scale(1.1);
}
.nav__li:last-child{
    margin-right: 0px;
}
.nav__link {
    color: var(--main-text);
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    line-height: 2px;
    transition: o.2s;
}
.nav__link:hover{
    color: var(---button-hover);
}
.menu-bar {
    display: none;
    cursor: pointer; 
    transition: 0.2s;
}
.menu-bar:active{
    transform: scale(1.1); 
}
.menu-bar-icon {
    font-size: 18px;
}

/* main */
.main {
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
}
.main__box-1 {
    margin-top: 50px;
    margin-left: 50px;
}
.main__title {
    color: #000;
    font-size: 60px;
    font-weight: 700;
    line-height: 56px;
    margin-bottom: 50px;
    max-width: 550px;
}
.main__text {
    color: var(--main-text);
    font-size: 21px;
    font-weight: 300;
    line-height: 32px; 
    margin: 0;
    padding: 0;
    margin-bottom: 100px;
    max-width: 550px;
}

/* services */
.services {
    padding: 80px 100px;
}
.services__title {
    color: #000;
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
     text-align: center;
}
.underline {
    width: 56px;
    height: 2px;
    border-radius: 5px;
    background: #000;
    margin: 50px auto;
}
.services__title-text {
    color: var(--main-text);
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    max-width: 952px;
    margin: 0 auto;
}
.services__items {
    display: grid;
    justify-content: center;
    grid-template-areas:
     "f-1 f-2 f-3"
     "f-4 f-5 f-6";
     gap: 40px;
    margin-top: 70px;
}
.a{
    grid-area: f-1;
}
.b{
    grid-area: f-2;
}
.c{
    grid-area: f-3;
}
.d{
    grid-area: f-4;
}
.e{
    grid-area: f-5;
}
.f{
    grid-area: f-6;
}
.services__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    max-width: 450px;
}
.services__item-img {
    width: 90px;
    height: 90px;
}
.services__item-box {
    margin-top: 22px;
    max-width: 280px;
    text-align: center;
}
.services__item-title {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 56px;
}
.services__item-text {
    color: var(--main-text);
    font-size: 16px;
    font-weight: 300;
    line-height: 28px; 
}
.services__box-button{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.services__button{
    color: #458FF6;
    font-size: 18px;
    font-weight: 700;
    background-color: #f8f8f8c4;
    width: 200px;
    height: 56px;
}
.services__button:hover{
    color: #fff;
    background-color: var(--main-color);
}

/* Healthcare */
.healthcare {
    padding: 80px 100px;
    display: grid;
    justify-content: space-between;
    grid-template-areas: 
    "block-1 block-2"
    "block-1 block-3";
}
.box-1{
    grid-area: block-1;
}
.box-2{
    grid-area: block-2;
}
.box-3{
    grid-area: block-3;
}
.healthcare__box-img {
    max-width: 650px;
    max-height: 477px;
}
.healthcare__img {
    width: 100%;
}
.healthcare_box-text {
    margin-top: 57px;
}
.healhcare__title {
    color: #000;
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
    max-width: 481px;
}
.healthcare__underline{
    margin: 26px 0 31px;
}
.healthcare__text {
    color: #7D7987;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    max-width: 450px;
}
.healthcare__box-button{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin-top: 37px;
}

/* download */
.bownload {
    padding: 80px 100px;
    display: grid;
    justify-content: space-between;
    grid-template-areas: 
    "d-1 d-3"
    "d-2 d-3";
}
.download__box-1 {
    grid-area: d-1;
    margin-top: 57px;
    max-width: 450px;
}
.download__title {
    color: #000;
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
}
.download__text {
    color: #7D7987;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}
.download__box-2 {
    display: flex;
    justify-content: flex-start;
    grid-area: d-2;
    margin-top: 37px;
    width: 100%;
}
.download__box-3 {
    grid-area: d-3;
    max-width: 650px;
}

/* customer */
.customer {
    padding: 80px 100px;
}
.customer__slider {
    border-radius: 24px;
    background-color: var(--main-color);
    padding: 64px 118px 90px;
    max-width: 1120px;
    margin: 0 auto;
}
.customer__title {
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
}
.customer__underline {
    background-color: #FFF;
}
.customer__block-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px;
}
.customer__box-1 {
display: flex;
align-items: center;
}
.customer__box-1-img {
    border-radius: 50%;
    max-width: 141px;
    max-height: 141px;
}
.customer__box-1-text {
    margin-left: 27px;
}
.customer__box-1-title {
    color: #FFF;
    font-size: 22px;
    font-weight: 700;
    line-height: 48px;
}
.customer__box-1-p {
    color: rgba(255, 255, 255, 0.85);
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
}
.customer__box-2-p {
    color: rgba(255, 255, 255, 0.90);
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
    max-width: 420px;
}
.customer__block-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 47px;
}
.box-circle {
    display: flex;
    margin: 0 90px;
}
.circle {
    width: 10px;
    height: 10px;
    background-color: var(--main-color-05);
    border-radius: 50%;
    margin: 0 5px;
}
.circle-active {
    background-color: var(--main-color);
}

/* Check */
.check {
    padding: 80px 100px;
}
.check__title {
    color: #000;
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
    text-align: center;
}
.check__underline {
    margin: 26px auto 31px;
}
.check__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
     gap: 10px; 
}
.check__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 50px;
    position: relative;
}
.check__box-img {
    max-width: 369px;
    max-height: 246px;
}
.check_box-text {
    margin-top: 21px;
    max-width: 266px;
}
.check__item-title {
    color: #000;
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
}
.check__item-text {
    color: #7D7987;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;

    margin-top: 12px;
}
.check__box-readMoo {
    display: flex;
    align-items: center;
    position: absolute;
    left: 30;
    bottom: 0;
}
.readMoo-text {
    color: #4089ED;
    font-size: 17px;
    font-weight: 600;
    line-height: 28px; 
}
.readMoo-img {
    width: 14px;
    margin-left: 10px;
}
.check_button {
    margin: 0 auto;
}


