
@media screen and (max-width: 1450px) {
    .main__title {
        font-size: 50px;
        margin-bottom: 50px;
        max-width: 450px;
    }
    .main__text {
        margin-bottom: 50px;
        max-width: 450px;
    }

    /* health */
    .healthcare {
        padding: 60px 100px;
        display: grid;
        justify-items: center;
        justify-content: center;
        grid-template-areas: 
        "block-1"
        "block-2"
        "block-3";
    }
    .box-1{
        grid-area: block-2;
    }
    .box-2{
        grid-area: block-1;
    }
    .box-3{
        grid-area: block-3;
    }
    .healthcare__box-img {
        margin-top: 35px;
    }
    .healthcare_box-text {
        text-align: center;
    }
    .healthcare__underline{
        margin: 26px auto 31px;
    }
    .healthcare__box-button{
        margin-top: 100px;
    }

    /* download  */
    .bownload {
        padding: 60px 100px;
        display: grid;
        justify-items: center;
        justify-content: center;
        grid-template-areas: 
        "d-1"
        "d-3"
        "d-2";
    }
    .download__box-1 {
        grid-area: d-1;
        margin-top: 57px;
        text-align: center;
    }
    .download__box-2 {
        grid-area: d-2;
        margin-top: 100px;
        justify-content: flex-end;
    }
    .download__box-3 {
        margin-top: 35px;
    }

    /* customer */
    .customer {
        padding: 60px 100px;
    }
    .customer__slider {
        border-radius: 24px;
        background-color: var(--main-color);
        padding: 20px 50px 50px;
        max-width: 1120px;
        margin: 0 auto;
    }

    /* footer */
    .footer {
        padding: 50px 50px 20px;
    }
    .footer__content {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "footer-1 footer-2 footer-3"
        "footer-4 footer-4 footer-4";
        justify-items: center;
        gap: 30px;
        row-gap: 50px;
    }
    .footer__box-1{
        grid-area: footer-4;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__box-2{
        grid-area: footer-1;
    }
    .footer__box-3{
        grid-area: footer-2;
    }
    .footer__box-3{
        grid-area: footer-3;
    }
    .footer__box-1-text {
        text-align: center;
    }
    .footer_box-1text-2 {
       text-align: center;
    }
    .footer_title {
        text-align: center;
    }
    .footer_text {
    
    }
    .footer__p {
        text-align: center;
    }
}
@media screen and (max-width: 1200px) {
    .services__items {
        grid-template-areas:
         "f-1 f-5"
         "f-3 f-4"
         "f-2 f-6";
    }
}
@media screen and (max-width: 1100px) {
    .main-container {
        max-width: 800px;
    }
/* header */
    .header {
        padding: 20px;
    }
    /* nav */
    .nav {
        display: none;
    }
    .menu-bar {
        display: flex;
        align-items: center;
        justify-content: end;
    }

/* main */
    .main {
        flex-direction: column;
        padding: 10px 20px;
    }
    .main__box-1 {
        max-width: 100%;
        margin-top: 50px;
        margin-left: 0px;
    }
    .main__title {
        font-size: 48px;
        max-width: 100%;
        text-align: center;
    }
    .main__text {
        margin-bottom: 70px;
        max-width: 100%;
        text-align: center;
    }
    .main__box-button{
        display: flex;
        justify-content: center;
    }
    .main__button{
      margin-left: 0
    }
    .nain__box-2{
      margin-top: 50px;
    }

    /* services */
    .services {
        padding: 60px 20px 30px;
    }
    .underline {
        margin: 30px auto;
    }
    .services__items {
        margin-top: 50px;
        gap: 20px;
    }
    .services__item {
        padding: 20px;
    }
    .services__item-title {
        color: #000;
        font-size: 22px;
        font-weight: 700;
        line-height: 56px;
    }
    .services__box-button{
        margin-top: 40px;
    }

    /* healthcare */
    .healthcare {
        padding: 30px 20px;
    }
    .healthcare__underline{
        margin: 36px auto;
    }
    .healthcare__box-button{
        margin-top: 45px;
    }

    /* download */
    .bownload {
        padding: 30px 20px;
    }
    .healthcare__box-button{
        margin-top: 45px;
    }

    /* customer */
    .customer {
        padding: 60px 20px;
    }
    .customer__block-content {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .customer__title {
        color: #FFF;
        font-size: 26px;
        font-weight: 700;
        line-height: 30px;
    }
    .customer__box-2-p {
        max-width: 100%;
    }
    /* check */
    .check {
        padding: 40px 20px;
    }
    .check__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
    .check__item {
        margin-top: 40px;
    }
    .check__item:first-child{
        margin-top: 0;
    }
}
@media screen and (max-width: 700px) {
    .customer__box-1 {
        display: flex;
        align-items: center;
        flex-direction: column;
        }
        .customer__box-1-text {
            text-align: center;
        }
        .customer__box-2 {
            text-align: center;
        }
}
@media screen and (max-width: 600px) {

/* main */
    .main__title {
        font-size: 35px;
        line-height: 35px;
    }
    .main__text {
        margin-bottom: 50px;
    }

    /* services */
    .services__items {
        grid-template-areas:
         "f-1"
         "f-2"
         "f-3"
         "f-4"
         "f-5"
         "f-6";
    }

    /* healthcare */
    .healhcare__title {
        font-size: 35px;
        line-height: 35px;
    }
    .healthcare__box-button{
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 37px;
    }
     /* download */
     .download__title {
        font-size: 35px;
        line-height: 35px;
    }
    .download__box-2 {
        justify-content: center;
    }
    /* check */
    .check__title {
        color: #000;
        font-size: 35px;
        font-weight: 700;
        line-height: 35px;
        text-align: center;
    }

    /* footer */
    .footer__content {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        "footer-1"
         "footer-2"
         "footer-3"
         "footer-4";
         row-gap: 20px;
    }
}